body {
  min-height: 2000px;
  padding-top: 70px;
}

.register, .login, .profile {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
  display: none;
}
#profilebutton {
  display: none;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading {
  margin-bottom: 10px;
  text-align: center;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
#inputEmail, #inputGivenName {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#inputPassword1, #inputSurname {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#inputPassword2, #inputGroup {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
button {
  margin-top: 5px;
}
#result {
  height: 30ex;
  width: 50%;
  margin: 0 auto;
}
